<p class="all-lost">All games in this collection will be lost!</p>
<button id="coll-uff" class="uk-button sh-button">Cancel</button>
<%= link_to 'Delete', collection_url(coll_id), method: :delete, remote: true, class: 'uk-button sh-button' %>
