<p class="all-lost">All games in this collection will be lost!</p>
<div class="cancel-del">
<button class="uk-button uk-modal-close lp-button del-f">
<span uk-icon="close"></span> Cancel</button>
<%= link_to collection_url(coll_id), method: :delete, remote: true, class: 'uk-button lp-button del-f' do %>
<span uk-icon="trash"></span> Delete
<% end %>
</div>
