$("#coll-icon-input").replaceWith("<%= j(render partial: 'warning', locals: { error: @error }) %>");

$('#collection_name').on('input', function() {

    if ($('#coll-icon-input').hasClass('warning-icon')) {
        $("#coll-icon-input").replaceWith("<span id='coll-icon-input'><%= j(svg 'label') %></span>");
    }

});
