<div class="game-cover-effect" uk-toggle="target: #i-<%= game['id'] %>">
<%= image_tag(cover_url, alt: game["name"], class: "game-cover",
       draggable: "false", width: options[:width]) %>

<% if game["xtra"] %>
  <div class="xtra-info" uk-alert>
    <button class="uk-alert-close uk-icon uk-close" type="button" uk-close></button>
    <p><%= game["xtra"] %></p>
  </div>
<% end %>
</div>

<%= render partial: "game_info", locals: { game: game, cover_url: cover_url, options: options } %>
