<div class="look-title">
<p>Still Have them</p>
<span>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam odio eos, numquam sunt mollitia sequi! Ducimus libero possimus dicta doloribus. Soluta eius dicta quidem unde assumenda ratione, hic corporis fugit!
</span>
</div>


<div class="features uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: fade">
  <div uk-grid>
  <div class="f-list">
    <p>Features</p>
    <ul class="">
      <li uk-slideshow-item="0"><a href="#">Search with IGDB</a></li>
      <li uk-slideshow-item="1"><a href="#">Multiple collections</a></li>
      <li uk-slideshow-item="2"><a href="#">Game info</a></li>
      <li uk-slideshow-item="3"><a href="#">Searching/filtering</a></li>
      <li uk-slideshow-item="4"><a href="#">Different views</a></li>
      <li uk-slideshow-item="5"><a href="#">Dark Theme</a></li>
      <li uk-slideshow-item="6"><a href="#">Graphs</a></li>
      <li uk-slideshow-item="7"><a href="#">Sharing</a></li>
    </ul>
  </div>
  <div class="f-movies uk-width-expand">
    <ul class="uk-slideshow-items">
      <li>
        <video src="https://still-have-them.s3.eu-central-1.amazonaws.com/test02.mov" autoplay loop muted playsinline uk-cover></video>
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
              <h3 class="uk-margin-remove">Bottom</h3>
              <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
      </li>
      <li>
        <video src="https://still-have-them.s3.eu-central-1.amazonaws.com/save_02_720p.mov" autoplay loop muted playsinline uk-cover></video>
      </li>
      <li>
        <video src="https://still-have-them.s3.eu-central-1.amazonaws.com/save_02_720p.mov" autoplay loop muted playsinline uk-cover></video>
      </li>
      <li>
        <video src="https://still-have-them.s3.eu-central-1.amazonaws.com/save_02_720p.mov" autoplay loop muted playsinline uk-cover></video>
      </li>
      <li>
        <video src="https://still-have-them.s3.eu-central-1.amazonaws.com/save_02_720p.mov" autoplay loop muted playsinline uk-cover></video>
      </li>
      <li>
        <video src="https://still-have-them.s3.eu-central-1.amazonaws.com/save_02_720p.mov" autoplay loop muted playsinline uk-cover></video>
      </li>
      <li>
        <video src="https://still-have-them.s3.eu-central-1.amazonaws.com/save_02_720p.mov" autoplay loop muted playsinline uk-cover></video>
      </li>
      <li>
        <video src="https://still-have-them.s3.eu-central-1.amazonaws.com/save_02_720p.mov" autoplay loop muted playsinline uk-cover></video>
      </li>
    </ul>
  </div>
  </div>
</div>

<div class="check-share">
  Check out the sample collection!
  <span>- no acount needed!</span>
</div>

<div class="check-login">
  Login
</div>

<div class="create">
  Create Free Account
</div>
