<% if @search.results.present? %>
  <table>
    <tr>
      <th>index</th>
      <th>Name:</th>
      <th>Year:</th>
    </tr>
    <% @search.results.each.with_index do |game, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= game["name"] %></td>
        <td>
          <% if game["first_release_date"]%>
            <%= Time.at(game["first_release_date"]).year %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
   <% end %>
  </table>


  <%= link_to("Show more", '#') if @search.is_more? %>










<% elsif @search.valid? %>
  <p>No such game in database :( Try something different or add custom game.</p>
<% end %>
