<% if @inquiry.errors.any? %>
  <span id="search-errors" class="uk-form-icon warning-icon blink_me" uk-icon="warning"></span>
  <div class="errors" uk-dropdown="toggle: #search-errors; pos: left-center; mode: hover; animation: uk-animation-scale-up; delay-hide: 0; duration: 100">
    <% errors = @inquiry.errors.full_messages %>
    <% if errors.size == 1 %>
      <p>Please <%= errors.first %></p>
    <% else %>
      <p>Please:</p>
      <ul>
      <% errors.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
<% else %>
  <span id="search-errors" class="uk-form-icon search-icon" uk-icon="search"></span>
<% end %>
