<% if @history_records.present? %>
<div id="search-history">
<span class="clock" uk-icon='icon: clock; ratio: 1.4;'></span><span class="title">Search History</span>
  <%= render @history_records %>
</div>
<% end %>
