<%= render 'search_bar' %>
<div id="search-results"></div>


<div id='search-wait'>

<div class="rotor">
  <span class="glass" uk-icon="icon: search; ratio: 5"></span>
</div>
<p>Searching...</p>

</div>
