<%= render 'search_bar' %>
<%= content_tag :div, nil, id: 'search-results' %>
<%= content_tag :div, nil, id: 'search-wait' %>


<div id="search-wait">

  <div class="rotor"><span class="glass" uk-icon="icon: search; ratio: 4"></span></div><p>Searching</p>

</div>
