<h1>LAZY LOAD TEST</h1>

<% 50.times do |i| %>

<div id="test-<%=  i %>" class='lli_test'>
  <img data-src="https://source.unsplash.com/random/<%= rand(200..800) %>x<%= rand(200..800) %>" height='200' width='200' uk-img>
</div>

<hr>

<% end %>


