<div class="uk-flex-center" uk-grid>
  <div class="uk-width-auto still">
    <h3>Do You Still Have Them?</h3>

    <p>If so, why not to maintain your collection
    with this free app?</p>
    <p uk-margin>
      <a class="uk-button uk-button-default md-button" href="#">Log in</a>
      <%= link_to "Sign up", signup_url, class: "uk-button uk-button-default md-button" %>
    </p>
  </div>
  <div class="uk-width-auto keep">
    <h3>Keep track of your games!</h3>
    <p>Bad things can happen to them if you forget about them.</p>

    <p>They can:</p>
<ul>
  <li>be eaten by a dog</li>
  <li>be sold for candy by younger brother </li>
  <li>be lost in your garage or cellar</li>
  <li>runaway from home </li>
  <li>be kept hostage in your friend's house</li>
</ul>


  </div>
</div>

