<ul id="doc-tab" uk-tab>
  <li><a id="terms" href="#">Terms and Conditions</a></li>
  <li><a id="privacy" href="#">Privacy Policy</a></li>
  <li><a id="cookies" href="#">Cookies Policy</a></li>
  <li><a id="about" href="#">About</a></li>
</ul>
<div id="doc_place">
  <%= render partial: 'policies/' + @doc %>
</div>
<div id="top_and_back">
<%= link_to root_url, class: 'uk-icon back' do %>
  <%= svg('back') %><span>Back</span>
<% end %>
<a id="t-scroll" href="#target" uk-scroll="duration: 600" class="uk-icon">
<span uk-icon="icon: arrow-up; ratio: 1.2"></span><span>Top</span>
</a>
</div>
<script>
  activateInfoDoc('<%= @doc %>');
</script>
