<h1>Search a game:</h1>

<%= form_tag("/search", method: :get, remote: true) do %>
<%= text_field_tag(:inquiry) %>
<%= submit_tag 'Search', data: { disable_with: "Please wait..." } %>
<% end %>
<hr>

<div id="search-results"></div>
