<h1>Search a game:</h1>

<%= form_tag("/search", method: :get, remote: true) do %>
<%= text_field_tag(:inquiry, "Enter game's name") %>
<%= submit_tag 'Search' %>
<% end %>
<hr>

<div id="search-results">
  <p id="stupid"> ..... :( </p>
</div>
