<form class="uk-grid-small" uk-grid>
    <div class="uk-width-1-1">
        <input class="uk-input" type="text" placeholder="Title or Developer">
    </div>
    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="Title or Developer">
    </div>
    <div class="uk-width-1-4@s">
        <input class="uk-input" type="text" placeholder="Title or Developer">
    </div>
    <div class="uk-width-1-4@s">
        <input class="uk-input" type="text" placeholder="Title or Developer">
    </div>
    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="Title or Developer">
    </div>
    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="Title or Developer">
    </div>
</form>
