<h1>TEST</h1>


<% 200.times do |i| %>

  <%= content_tag :div, id: "t-#{i}", class: 'test' do %>
  T-<%=i%>
  <%= button_tag 'Drop', class: 'dropsy', 'data-mother' => "t-#{i}" %>
  <% end %>
<% end %>


<div id="drop" uk-dropdown="mode: click; toggle: #z; boundary-align: true; pos: right-top; boundary: .test; delay-hide:0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>


<script type="text/javascript">

var $buttons = $('.dropsy');
var $drop = $('#drop');

function changeOptions($el, data) {
    $el.attr('uk-dropdown', data);
}

$buttons.click(function() {
  var mother = $(this).attr('data-mother');
  var d_opts = $drop.attr('uk-dropdown');
  d_opts = d_opts.slice(0,62) + ' boundary: #' + mother;

 $.when(changeOptions($drop, d_opts)).then(function() {
    UIkit.dropdown($drop).show();
  });
});


</script>
