<h1>TEST</h1>


<% 10.times do |i| %>

  <%= content_tag :div, id: "t-#{i}", class: 'test' do %>
  T-<%=i%>
  <%= button_tag 'Drop', class: 'dropsy', 'data-mother' => "#t-#{i}" %>
  <% end %>
<% end %>


<div id="drop" uk-dropdown="mode: click; toggle: #z; boundary-align: true; pos: right-top;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>


<script type="text/javascript">

var $buttons = $('.dropsy');
var $drop = $('#drop');

$buttons.click(function() {
  var mother = $(this).attr('data-mother');
  UIkit.dropdown($drop, { boundary: mother}).show();
});

</script>
