  <span id="s-<%= type %>-icon" class="warning-icon blink_me"></span>
  <div class="errors" uk-dropdown="toggle: #s-<%= type %>-icon; pos: top-left; mode: hover; animation: uk-animation-scale-up; delay-hide: 0; duration: 100">
  <p><%= "Email or Password is incorrect" %></p>

