<p class="header">Reset Password <span class="auth-icon reset-icon">!</span></p>
<hr class="auth-hr">
<p class="auth">Reset password link has been sent to your <%= content_tag :b, email %> email.</p>
<p class="auth">It could take a few minutes to appear.</p>
<%= content_tag :a, 'Done', id: 'done-btn', class: 'uk-button sh-button' %>
