<script>
function updatePlatformIcon(form_type, id) {
    var form = '#' + form_type + '-form-' + id;
    var select_element = form + ' #' + 'game_platform';

    $(select_element).on('input', function() {
        var value = $(select_element).val();
        var icon = form + ' .cf-platform-icon';
        if (value.length > 0) {
            $(icon).attr('class', 'cf-platform-green');
        } else {
            icon = form + ' .cf-platform-green';
            $(icon).attr('class', 'cf-platform-icon');
        }
    });
}

function activateForm(form_type, id) {
    var form = '#' + form_type + '-form-' + id;
    var select_element = form + ' #collection';
    var icon = $(form + ' .cf-collection-icon');
    var platform_element = form + ' #platform-option';
    var needs_platform = form + ' #game_needs_platform';

    $(select_element).on('input', function() {
        var value = $(select_element).val();
        var cv = value.length != 0 ? (value.split(",")[1] == 'true') : 'select';

        if (cv == true) {
            $(platform_element).show();
            icon.attr('class', 'cf-collection-green');
            $(needs_platform).attr('value', 'true');
        } else if (cv == false) {
            $(platform_element).hide();
            icon.attr('class', 'cf-collection-green');
            $(needs_platform).attr('value', 'false');
        } else {
            $(needs_platform).attr('value', 'false');
            icon.attr('class', 'cf-collection-icon');
            $(platform_element).hide();
        }
    });
}

function moreInfo(id) {
    var panel = $('#g-click-' + id);
    var hidee = $('#g-hide-' + id);
    var drop = $('#g-drop-' + id);

    panel.click(function() {
        if (drop.is(':hidden')) {
            hidee.show();
            drop.slideDown('fast');
        } else {
            drop.slideUp('fast');
        }
    });
    hidee.click(function() {
        if (drop.is(':visible')) {
            hidee.hide();
            drop.slideUp('fast');
        }
    });
}

function shortSummary(id) {
    var dots = document.getElementById("dots-" + id);
    var moreText = document.getElementById("more-" + id);
    if (dots.style.display === "none") {
        dots.style.display = "inline";
        moreText.style.display = "none";
    } else {
        dots.style.display = "none";
        moreText.style.display = "inline";
    }
}

function resetFormErrors(form, game_id) {

    var reset_elements = ['#collection', '#game_platform', '.cf-physical', '.cf-digital','#copy_true', '#copy_false']
    var errors_place = '.add-form-errors';
    var element = '#' + form + '-form-' + game_id + ' ' + errors_place;

    for (i = 0; i < reset_elements.length; i++) {

        var formPart = '#' + form + '-form-' + game_id + ' ' + reset_elements[i];

        $(formPart).on('input', function() {
            $(element).html('');
        });
    }
}

function preselectPlatform(id, platform) {
    var form = '#copy-form-' + id;
    var element = form + " #game_platform option[value^='" + platform + ",']";
    $(element).attr("selected","selected");
    $(form + ' .cf-platform-icon').attr('class', 'cf-platform-green');
}

function changeButton(id) {
    var form = '#copy-form-' + id;
    var element = form + " .copy-move input[type='radio']";
    var button = form + " .cf-add-button";
    $(element).on('input', function() {
        var selected = $(element + ":checked");
        if (selected.length > 0) {
            $(form + ' .c-m').removeClass('chosen')
            selected.parent().addClass('chosen');
            selected_val = selected.val();
        }
        b_name = eval(selected_val) ? 'Copy' : 'Move';
        $(button).text(b_name);
    });
}
</script>

<div class="uk-grid-collapse" uk-grid>
  <% collection.games.each do |game| %>
  <%= render partial: 'panels_view/game_panel', locals: { game: game, collection: collection } %>
  <% end %>
</div>
