<script>
function moreInfo(id) {
    var panel = $('#g-click-' + id);
    var hidee = $('#g-hide-' + id);
    var drop = $('#g-drop-' + id);
    panel.click(function() {
        if (drop.is(':hidden')) {
            hidee.show();
            drop.slideDown('fast');
        } else {
            hidee.hide();
            drop.slideUp('fast');
        }
    });
    hidee.click(function() {
        if (drop.is(':visible')) {
            hidee.hide();
            drop.slideUp('fast');
        }
    });
}

function shortSummary(id) {
    var dots = document.getElementById("dots-" + id);
    var moreText = document.getElementById("more-" + id);
    if (dots.style.display === "none") {
        dots.style.display = "inline";
        moreText.style.display = "none";
    } else {
        dots.style.display = "none";
        moreText.style.display = "inline";
    }
}
</script>

<div class="uk-grid-collapse panels-grid" uk-grid>
    <div class="uk-width-5-6 page-info-front">
        <div uk-grid>
            <div class="page-info">
                <%= page_entries_info @games, html: false %>
            </div>
            <div class="uk-width-expand page-links pr">
                <%= js_will_paginate @games, container: false, previous_label: 'Previous', next_label: 'Next' %>
            </div>
        </div>
    </div>
    <% @games.each do |game| %>
    <%= render partial: 'panels_view/game_panel', locals: { game: game, collection: collection } %>
    <% end %>
    <div class="uk-width-5-6 page-links">
        <%= js_will_paginate @games, container: false,
        previous_label: 'Previous',
        next_label: 'Next'
        %>
    </div>
</div>
