<p class="welcome">Welcome to the Still Have Them!</p>
<p>Activate your account by clicking the button below:</p>
<% link = edit_account_activation_url(@user.activation_token, email: @user.email) %>
<%= link_to "Activate Account", link, class: 'mail-button' %>
Or follow this link: <%= link_to link, link, class: 'mail-follow' %>
