<div class="strike part"><span>Manage links:</span></div>
<% unless @shares.empty? %>
  <%= render @shares %>
<% else %>
  <%= content_tag :span, '- No links to manage -', class: 'no-sh' %>
<% end %>
