<%= content_tag :div, id: 'no-games' do %>
SHARED COLLECTIONS DO NOT EXIST
<p>Link is valid, but the owner must have deleted shared collections. You can go back home now <%= link_to '', root_url, class: 'home-link', 'uk-icon' => 'home' %></p>
<% end %>
