<p class="header">Shareable links <span uk-icon="icon: social; ratio: 1.5"></span></p>
<p class="discription">Creating a shareable link allows you to share one or more collections with anyone (including people who don't have a Stillhavethem account) via a unique URL.</p>
<div class="strike part"><span>Generate link:</span></div>
<%= render partial: 'form' %>
<div id="active-shares"></div>
