<div id="no-games">
  SHARED PAGE DOES NOT EXIST
  <p>Either the link is invalid, or the owner has stopped sharing. You can go back home <%= link_to '', root_url, class: 'home-link', 'uk-icon' => 'home' %></p>
  <%= content_tag :p, '"' + link + '"', class: 'wrong-link' %>
</div>
