<%= content_tag :div, id: 'no-games' do %>
    SHARED PAGE DOES NOT EXIST
    <p class="link">"<%= @link %>"</p>
    <p class="no-border-top">The link is not valid, or the owner has stopped sharing. You can go back home now <%= link_to '', root_url, 'uk-icon' => 'home' %></p>
<% end %>
