<p class="header">Activate Your Account <span class="auth-icon" uk-icon="check"></span></p>
<hr class="auth-hr">
<p class="auth">Please go to your <%= content_tag :b, email %> email to retrieve activation link.</p>
<p class="auth">It could take a few minutes to appear.</p>
<%= content_tag :a, 'Done', id: 'done-btn', class: 'uk-button sh-button uk-modal-close' %>
