<% if errors.any? %>
  <span id="key-icon" class="warning-icon blink_me sign-er"></span>
  <div class="errors" uk-dropdown="toggle: #key-icon; pos: top-left; mode: hover; animation: uk-animation-scale-up; delay-hide: 0; duration: 100">
    <% if errors.size == 1 %>
      <p>Password <%= errors.first %></p>
    <% else %>
      <p>Password:</p>
      <ul>
      <% errors.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
<% else %>
  <span id="key-icon" class="sign-icon"><%= svg 'key' %></span>
<% end %>
