<% if errors.any? %>
  <span id="key-icon" class="warning-icon blink_me" uk-icon="warning"></span>
  <div class="errors" uk-dropdown="toggle: #key-icon; pos: bottom-left; mode: hover; animation: uk-animation-scale-up; delay-hide: 0; duration: 100">
    <% if errors.size == 1 %>
      <p>Password <%= errors.first %></p>
    <% else %>
      <p>Password:</p>
      <ul>
      <% errors.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
<% else %>
  <%= image_tag('key.svg', alt: 'password logo, key', id: 'key-icon', draggable: 'false', width: 30)%>
<% end %>
