<div class="list-of-platforms uk-flex uk-flex-wrap">
<% current_user.platforms.each do |p| %>

<table class="set-platform">
  <tr>
    <%= content_tag :td, p.name %>
    <%= content_tag :td, link_to('Delete', p, method: :delete), class: 'btn' %>
  </tr>
</table>

<% end %>
</div>
