<% if @search.errors.any? %>
  <div class="row">
    <div class="col-sm-10 offset-sm-2">
      <div class="alert alert-danger" role="alert">
        <ul>
          <% @search.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% else %>
<% end %>
