<div class="lp-top">
  <span>Still Have Them</span>
  <p>Do you keep your games?</p>
</div>
<%= link_to root_url, class: 'uk-icon back' do %>
  <%= svg('back') %><span>Back</span>
<% end %>
<hr class="reset-hr">











<div class="password-reset">
  <p class="header">Wrong link <span class="auth-icon reset-icon">!</span></p>
  <hr class="auth-hr">
  The link you have clicked is invalid or has expired and can no longer be used!
</div>
