<%= form_with(url: "/graphs", method: "get", id: 'graph-form') do %>
  <div uk-form-custom="target: true">
    <%= select_tag(:graph_collection, options_for_select(collections_for_graph_form(current_user)) ) %>
    <span class="coll-name"></span><%= content_tag :span, svg('chart'), class: 'uk-icon' %>
  </div>
  <%= submit_tag('render') %>
<% end %>

<div id="graphs"></div>
