/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";
@import "uikit/uikit-theme.scss";

//MIXINS
@mixin unselectable {
    -webkit-user-select: none;

    /* Safari */
    -moz-user-select: none;

    /* Firefox */
    -ms-user-select: none;

    /* IE10+/Edge */
    user-select: none;

    /* Standard */
    cursor: default;
}

//VARIABLES
$no_cover_width: 200px;
$no_cover_height: 266px;

$background: #dddddd;
$accent: #75C7AF;
$dark_accent: #49AB8A;
$warning: #e9806e;
$light: rgba(255, 255, 255, 0.5);
$light_nt: rgb(154, 154, 154);
$lighter: rgba(255, 255, 255, 0.7);
$lighter_nt: rgb(197, 197, 197);
$light_grey: #999;
$dark_grey: #666;
$slide_grey: #393939;
$disabled: #b4b4b4;

@import "covers";
@import "panels";
@import "list";
@import "s_list";
@import "collections";
@import "shares";
@import "settings";
@import "game_offc";
@import "landing_page";

// NAVIGATION
.logo {
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 110;
    color: #999;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 2px solid #cacaca;
}

.shared-logo {
    @extend .logo;

    border-bottom: none;

    p {
        margin: 0px;
    }

    p:first-child {
        border-bottom: 2px solid #cacaca;
    }

    p.shared {
        font-size: 20px;
        color: #ababab;
        padding-left: 1px;
        letter-spacing: 7px;
        width: 110.5px;
    }
}

.shared-logo.with-title {

    width: calc(100% - 60px);

    div:last-child {
        margin-left: 15px;
        box-shadow: -7px 0px 0 -5px #cacaca;
    }

    .title {
        font-size: 23px;
        letter-spacing: 1px;
        color: #ababab;
        font-weight: 300;
        padding-right: 15px;
    }

    .only_title {
        line-height: 56px;
    }

    .message {
        color: #999;
        display: block;
        font-size: 14px;
        max-width: 300px;
        &:hover {
            color: #666;
            text-decoration: none;
        }
    }
}

.logo input {
    border: none;
    background: #dddddd;
    color: #999;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;

    &:focus {
        outline: none;
    }
}

.nav-icon {
    position: absolute;
    top: 20px;
    color: $light_grey;

    &:hover {
        color: $dark_grey;
    }
}

#social {
    right: 110px;
}

#settings {
    right: 65px;
}

#logout {
    right: 20px;
}

// SEARCH WAIT
div#search-results.mask1:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ddddddad;
    z-index: 2;
}

div#search-results.mask2:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #dddddde6;
    z-index: 2;
}

#search-wait {
    position: fixed;
    top: 50vh;
    left: 50%;
    width: 120px;
    height: 178px;
    margin-left: -60px;

    // margin-top: -89px;

    margin-top: 40px;
    z-index: -1;

    p {
        font-size: 20px;
        margin-left: 8px;
        color: #a1a1a1;
        margin-top: 5px;
        letter-spacing: 0.3px;
    }

    p:after {
        position: absolute;
        content: "";
        animation: 2s infinite dots linear;
    }
}

#search-wait.front {
    z-index: 3;
}

.rotor {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    animation: 2s infinite search linear;
}

.rotor svg {
    fill: #aaa;
    animation: 2s infinite search linear;
    animation-direction: reverse;
    width: 80px;
    height: auto;
}

@keyframes search {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes dots {
    0% {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}

.csv_spin {
    width: 50px;
    margin: 10px auto;

    svg {
        fill: #aaa;
        animation: 1s infinite normal rotate;
        animation-timing-function: linear;
    }
}

// PLEASE WAIT

.loading:after {
    position: absolute;
    content: "";
    animation: 1.5s infinite dots linear;
}

// NO GAMES
.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.uk-input:disabled {
    background: none;
}

#no-games, #no-results {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 40px;
    color: #adadad;
    font-weight: 300;

    p {
        font-size: 14px;
        color: #999;
        border-top: thin solid #bababa;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    a:hover {
        color: #666;
    }

    p.wrong-link {
        padding: 0px;
        margin: 0px;
        border-top: none;
        font-size: 16px;
        font-style: italic;
    }
}

.home-link svg {
    vertical-align: text-bottom;
}

// SCREEN AS IMAGE
.s-cover {
    height: $no_cover_height;
    object-fit: cover;
}

// HTML, BODY
html {
    background-color: $background;
    scrollbar-width: none;
}

body {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0 !important;
}

.main-container {
    position: relative;
    min-height: 100vh;
}

#big-c {
    margin-top: 80px;
    padding-bottom: 160px;
}

// FOOTER
footer {
    position: absolute;
    bottom: 20px;
    background: none;
    right: 24px;
    font-size: 12px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: right;
            padding-left: 10px;
            height: 15px;
        }

        a {
            color: $light_grey;
            transition: color 0.1s ease-in-out;
        }

        a:hover {
            color: $dark_grey;
            outline: none;
            text-decoration: none;
        }
    }
}

// SCROLL-UP
#scroll-up {
    display: none;
    padding: 5px 10px 10px 10px;
    color: #999;
    border: thin solid #bababa;
    border-radius: 3px;
    position: fixed;
    top: 80%;
    right: 20px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    width: 41px;
    text-align: center;

    &:hover {
        text-decoration: none;
        background: #ccc;
        color: #666;
    }
}

// NOTIFICATIONS
.uk-notification-close {
    top: unset;
    bottom: 13px;
    right: 10px;
}

a.uk-notification-close {
    svg {
        width: 12px;
        height: 12px;

        line {
            stroke-width: 1.4;
        }
    }
}

.uk-notification-message {
    background: #cdcdcde0;
    color: $dark_grey;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 26px 10px 10px;

    .g {
        color: $dark_accent;
    }

    .b {
        color: $warning;
    }

    .d {
        font-style: italic;
        font-weight: 300;
    }

    .c {
        color: $dark_grey;
        display: inline-flex;
        text-decoration: underline;
    }
}

.uk-notification-message .c:hover {
    color: $light_grey;
}

// MENU
.uk-navbar {
    z-index: 150;
}

.uk-navbar-nav li a {
    text-transform: none;
}

.side-menu {
    display: flex;
    height: 100%;
    align-items: center;
    position: fixed;
    z-index: 100;

    ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
    }
}

.m-coll {
    font-size: 16px;
    color: $light_grey;
    padding: 10px 0px 10px 20px;
    display: inline-block;
    border-color: $dark_accent;
    transition: all 0.3s ease-in-out;
}

.m-coll:hover {
    font-size: 30px;
    color: $dark_grey;
    text-decoration: none;
    padding-left: 26px;
}

li.active .m-coll {
    font-size: 25px;
    color: $dark_grey;
    border-left: 6px solid $dark_accent;
}

li.active .m-coll:hover {
    padding-left: 20px;
}

li.active .m-add {
    border-left: 6px solid $dark_accent;

    svg {
        color: $dark_grey;
        width: 30px;
    }
}

li.active .m-add:hover {
    padding-left: 20px;
}

.opts {
    vertical-align: 6px;
    padding-right: 10px;

    a {
        color: $light_grey;
    }

    a:hover {
        color: $dark_grey;
    }
}

.opts {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

li.active:hover .opts {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.m-add {
    color: $light_grey;
    padding: 10px 10px 10px 20px;
    transition: all 0.3s ease-in-out;

    svg {
        color: $light_grey;
        transition: all 0.3s ease-in-out;
    }
}

.m-add:hover {
    padding-left: 26px;

    svg {
        color: $dark_grey;
        width: 35px;
    }
}

#m-add-coll.active {
    padding-left: 26px;

    svg {
        color: $dark_grey;
        width: 35px;
    }
}

//OTHER

::selection {
    background: $accent;
    color: #fff;
    text-shadow: none;
}

#r-q, #r-s {
    display: none;
}

//RADIO, CHECKBOX

.uk-radio, .uk-checkbox {
    border: 1px solid #a0a0a0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.uk-checkbox {
    border-radius: 2px;
}

.uk-checkbox:disabled {
    background-color: #e0e0e0;
    border-color: #cccccc;
}

.uk-checkbox:disabled:checked {
    background-color: #d6d6d6;
}

.uk-radio:focus, .uk-checkbox:focus {
    outline: none;
    border-color: initial;
    box-shadow: none;
    border-color: #a0a0a0;
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
    background-color: $dark_accent;
    border-color: transparent;
}

.uk-radio:checked:focus, .uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus {
    background-color: $dark_accent;
}

// Landing Page

.still {
    margin-top: 50px;
}

.keep {
    @extend .still;
}

// Additional info
.xif.hidden {
    display: none;
}

// Search Form (Search IGDB)
#search-form {
    position: relative;
    width: 400px;
    margin: 20px auto 0;
    z-index: 150;
}

.search-bar {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    height: 40px;
    width: 400px;
    font-weight: 300;
    font-size: 18px;
    background: #d4d4d4;
}

.search-icon {
    color: #888;
}

.search-bar::placeholder {
    color: #888;
    font-weight: 300;
}

.search-bar:hover, .search-bar:focus {
    box-shadow: -2px 4px 7px 0px rgba(0, 0, 0, 0.22);
}

.info-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #888;
}

.info-icon:hover {
    color: $dark_grey;
}

.info-icon:hover ~ .search-bar {
    box-shadow: -2px 4px 7px 0px rgba(0, 0, 0, 0.22);
}

.warning-icon:hover ~ .search-bar {
    box-shadow: -2px 4px 7px 0px rgba(0, 0, 0, 0.22);
}

// Errors (Search IGDB)- - - - - - - - - - - - - - - - - - - - - - - - - - - //
.warning-icon {
    pointer-events: all !important;
    color: #999999;
}

.blink_me {
    animation: blinker 1s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.2;
    }
}

// API Status and Search warnings (Search IGDB) - - - - - - - - - - - - - - - //
.errors {
    background-color: #666666de;
    border-radius: 5px;
    padding: 7px;
    text-align: left;
    min-width: auto;

    p {
        font-size: 12px;
        color: #fff;
        margin-bottom: 0px;
    }

    ul {
        margin: 0px;
        margin-bottom: 3px;
    }

    li {
        font-size: 12px;
        color: #fff;
        padding-left: 0px;
    }
}

.api-status {
    @extend .errors;

    width: 227px;
    font-size: 12px;
    color: #fff;
}

.api-status.uk-dropdown.uk-open.uk-dropdown-right-center {
    margin-left: 30px;
}

.errors.uk-dropdown.uk-open.uk-dropdown-left-center {
    margin-left: -20px;
}

// Search Dropodown (Search IGDB)- - - - - - - - - - - - - - - - - - - - - - //
.search-dropdown {
    background: #d4d4d4f0;

    // box-shadow: -2px 4px 9px 1px rgba(0, 0, 0, 0.22);
    box-shadow: -2px 4px 7px 0px rgba(0, 0, 0, 0.22);
    padding: 0px;
    border-radius: 5px;
    font-size: 14px;
    width: 400px;
    text-align: left;
    z-index: 999;
    color: #666;
}

.search-dropdown.uk-dropdown.uk-open {
    display: flex;
}

.nav {
    border-right: thin solid #afafaf;
    margin: 0;
    padding: 10px;
    list-style: none;
    min-width: 20px;

    li {
        &:first-child {
            padding: 0;
        }

        padding-top: 10px;
    }

    a {
        color: #999;
    }
}

.nav a.active {
    color: #666;
}

#bar-search, #bar-history {
    padding: 10px;
}

#bar-search {
    display: block;
}

#bar-history {
    display: none;
    width: 100%;

    div:first-child {
        margin-bottom: 10px;
    }
}

#search-history {
    width: 400px;
    margin: 0 auto;
    border: thin solid #bababa;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;

    .record {
        background: none;
        margin-bottom: 8px;

        &:hover {
            background: #d4d4d4;
        }
    }

    .input {
        font-size: 16px;
    }

    .extr {
        border-top: thin solid #bababa;
    }

    .title {
        color: #969696;
        vertical-align: middle;
        font-weight: 300;
        padding-left: 3px;
    }
}

.clock {
    margin: 0 5px 20px;
    color: #a0a0a0;

    svg circle {
        stroke-width: 0.8px;
    }

    svg rect {
        width: 0.8px;
    }

    svg path {
        stroke-width: 1px;
    }
}

.record {
    margin: 0;
    border-radius: 3px;
    padding: 0 6px;
    margin-bottom: 5px;
    cursor: pointer;
    font-weight: 300;
    text-align: right;
    font-size: 13px;
    line-height: 20px;

    span {
        float: left;
    }

    .input {
        font-weight: 400;
        font-style: italic;
        max-width: 238px;
        font-size: 14px;
        padding-right: 2px;
    }
}

.record:hover {
    background: #00000014;
    color: #555;
}

.none-all {
    position: absolute;
    right: 1px;
    bottom: -18px;
    font-size: 13px;
    font-weight: 300;

    a {
        color: #999;
    }

    a:first-child {
        padding-right: 5px;
    }

    a:hover {
        text-decoration: none;
        color: #666;
    }
}

[class*='uk-dropdown-bottom'] {
    margin-top: 20px;
}

.drop-label {
    margin-bottom: 2px;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid grey;
    text-align: left;
}

.drop-grid {
    margin-bottom: 10px;
    margin-top: 10px !important;
}

#platforms-grid {
    margin-bottom: 10px;
    margin-top: 10px !important;
    position: relative;
}

.labels-100 {
    width: 100px;
}

.labels-177 {
    width: 177px;
}

.labels-110 {
    width: 110px;
}

.drop-buttons {
    text-align: right;
}

.reset-button {
    float: right;
    width: 60px;
    box-shadow: none;
    background: none;
    border: 0px;
    transition-duration: 0.8s;
    font-size: 15px;
    text-transform: capitalize;
    color: #666;
    padding: 0px 5px 0px 0px;
    height: 35px;
}

.reset-button:focus {
    color: inherit;
}

.reset-button:hover {
    color: inherit;
    filter: drop-shadow(0px 2px 3px #ACACAC);
}

.reset-button:active {
    background: transparent;
    border: 0px;
    transform: scale(0.97);
    transition-duration: 0.1s;
}

.search-button {
    @extend .reset-button;
}

.search-tip {
    font-size: 12px;
    font-style: italic;
    color: #777;

    a {
        color: #777;
    }

    table {
        border-collapse: collapse;
        width: auto;
        margin-top: 5px;

        td {
            padding: 0px 5px 0px 5px;
        }
    }
}

// Other (Search IGDB)
.uk-tooltip {
    box-shadow: -2px 4px 9px 1px #0000004a !important;
    box-sizing: border-box;
    max-width: 270px;
    padding: 3px 6px;
    background: #777;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
}

// Search Results (Search IGDB)
#search-results {
    // margin-top: 120px;
    margin-top: 80px;
}

// ToolBar
#toolbar {
    position: fixed;
    top: 50%;
    right: -50px;
    z-index: 150;
    padding-right: 16px;
    box-sizing: border-box;
    height: 308px;
    margin-top: -154px;
    transition: right 0.3s;

    &.open {
        right: 0px;
    }

    &.waiting {
        display: none;
    }

    .hidden {
        display: none;
    }

    hr {
        border-color: #bdbdbd;
        margin: 10px 0;
    }

    li {
        padding: 3px 0;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    a {
        color: #999;
        border-radius: 3px;
        padding: 4px;

        &:hover {
            color: #666;
        }

        &.active {
            background: #d4d4d4;
        }
    }
}

#toolbar.guest {
    height: 274px;
    margin-top: -134px;
}

#tool-show {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: -40px;

    &.open {
        display: none;
    }
}

.change-my-view.active {
    pointer-events: none;
    cursor: default;
}

.change-s-view.active {
    pointer-events: none;
    cursor: default;
}

// Show More Button (Search IGDB)
#show-more, .no-more {
    text-align: center;
}

.uk-button-default, .uk-button-primary {
    border-radius: 5px;
    text-transform: capitalize;
}

#change-theme svg {
    transform: rotate(45deg);
}

// More Platforms Toggler - - - - - - - - - - - - - - - - - - - - - - - - - - //

.more-platforms {
    max-width: 200px;
}

.mp-label {
    cursor: pointer;
    position: absolute;
}

.mp {
    opacity: 0;
    width: 0;
    height: 0;
}

.mp + svg {
    fill: $light_grey;
}

.mp:hover + svg {
    fill: $dark_grey;
}

.mp:checked + svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    top: -1px;
}

.mp-more {
    display: none;
}

.uk-modal-body {
    background-color: #ececec;
    border-radius: 5px;
    padding: 20px;
}

// Form - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

#signin-modal .uk-modal-body, #signup-modal .uk-modal-body, #coll-modal .uk-modal-body {
    width: 400px;
    background: #ececec;
    border-radius: 5px;
}

#signin-modal .modal-header, #signup-modal .modal-header {
    border-bottom: 1px solid #afafaf;
    margin-bottom: 17px;
}

#signin-modal .header {
    margin-top: -5px;
}

#signup-modal .header {
    margin-top: -2px;
}

#coll-modal .header {
    margin-top: -4px;
    border-bottom: 1px solid #afafaf;
    padding-bottom: 5px;
    margin-bottom: 17px;
}

p.header {
    margin: 0px;
    font-size: 20px;
    color: #333;
}

span.lock-icon {
    vertical-align: text-bottom;
}

span.user-icon {
    vertical-align: text-bottom;
    color: #999;
    padding-left: 4px;
    line-height: 28px;
}

p.have-account {
    font-size: 12px;
    margin: 2px 0px 6px;
}

.pl40.share-input {
    padding-left: 40px;
}

.share-input:focus {
    background-color: #ddd;
    color: #666;
    ~ span svg g g {
        fill: #666;
    }
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.login-er, .sign-er {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
}

#signup-password, #login-password {
    padding-right: 46px;
}

#password-min {
    font-size: 12px;
    font-style: italic;
    padding-left: 5px;
    padding-top: 5px;
    margin: 0px;
    color: #999999;
}

.rem-me {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 20px;

    label {
        font-size: 14px;
    }
}

.agree {
    font-size: 12px;
    padding-left: 10px;
    padding-top: 2px;
    float: left;
    width: 235px;
}

.submit button {
    float: left;
}

.sign-icon {
    position: absolute;
    top: 3px;
    left: 5px;
}

.sign-icon svg g g {
  transition: 0.2s ease-in-out;
}

.warning-icon {
    width: 30px;
    height: 30px;
    background: url("warning.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.search-warning-icon {
    @extend .warning-icon;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -15px;
}

// Eye (unmask password)

.password + .unmask {
    width: 35px;
    height: 35px;
    background: url("eye.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 6px;
    top: 3px;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.password[type="text"] + .unmask {
    background: url("eye_hidden.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

// Strike
.strike {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #afafaf;
}

.add-form .strike > span:after {
    background: #afafaf;
}

.add-form.white-form .strike > span:after {
    background: #C8C8C8;
}

.strike > span:before {
    right: 100%;
    margin-right: 10px;
}

.strike > span:after {
    left: 100%;
    margin-left: 10px;
}

// Adding Games to Collections
.select-collection {
    margin: 0px 0px 20px 0px;
}

.add-acc-errors {
    font-size: 12px;
    font-style: italic;
}

span.add-form-errors {
    height: 25px;
    position: relative;
    top: -1px;
}

// F-modal and Charts

#f-modal .uk-modal-body {
    width: 900px;
    border-radius: 5px;
    background: #ececec;

    hr {
        border-color: #bababa;
        margin-top: 10px;
    }
}

#f-modal {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#f-modal::-webkit-scrollbar {
    width: 0 !important;
}

#graph-form {
    input {
        display: none;
    }

    .uk-icon {
        padding-left: 10px;
        vertical-align: text-bottom;
    }
}

.coll-name {
    font-size: 24px;
    color: #333;
    transition: 0.1s ease-in-out;
}

#graph_collection:hover ~ .ch-slct {
    color: #666;
}

.ch-slct {
    position: relative;
    top: -3px;
    transition: 0.1s ease-in-out;
    color: #afafaf;
}

.ch-graphs {
    font-size: 15px;
    color: #333;
}

#li-by-collection {
    display: none;
}

#first-chart {
    float: right;
}

[id^=moved-] {
    position: relative;
    top: -8px;
    left: -10px;
}

.stats {
    font-size: 14px;
    color: #333;
    padding-top: 10px;
    height: 200px;

    td {
        vertical-align: top;
    }

    tr td:last-child {
        font-style: italic;
        padding-left: 20px;
        color: #777;
        width: 230px;
    }
}

.uk-accordion {
    color: #999;
    margin: 0;

    li.uk-open a.uk-accordion-title {
        color: #333;
    }

    a.uk-accordion-title {
        font-size: 15px;
        color: inherit;

        &:focus {
            color: #666;
        }
    }
}

.uk-accordion > :nth-child(n+2) {
    margin-top: 10px;
}

.uk-accordion-content {
    margin: 0;
}

a.hide-labels {
    font-size: 12px;
    color: #666;
    border: thin solid #afafaf;
    border-radius: 3px;
    padding: 2px 0px;
    display: block;
    width: 80px;
    text-align: center;
    margin-top: 10px;
    transition: 0.1s ease-in-out;
    position: relative;
    z-index: 1;

    &:hover {
        text-decoration: none;
        color: #444;
        border-color: #777;
        background-color: #d1d1d1;
    }
}

.chart-no-data {
    font-size: 14px;
    font-style: italic;
}

.fit-content {
    width: fit-content !important;
    width: -moz-fit-content !important;
}


.acf-remove svg path {
    transition: 0.1s ease-in-out;
}

.acf-remove:hover svg path {
    stroke: #666;
}
