.uk-modal-dialog {
    background: none;
}

.light-grey {
    color: $light_grey;
}

.coll-require {
    font-size: 14px;
    padding-left: 5px;
}

#coll-icon-input {
    position: absolute;
    top: 6px;
    left: 6px;

    svg path {
        transition: 0.2s ease-in-out;
    }
}

.coll-er {
    display: none;
    position: absolute;
    top: 5px;
    left: 6px;
}

.coll-field:focus ~ span svg path {
    stroke: #666;
}

.small {
    font-size: 12px;
    font-style: italic;
    color: #888;
    margin: 10px 0px 20px;
}

.add-coll-icon {
    position: relative;
    top: -2px;
    vertical-align: text-bottom;
    padding-left: 10px;
}

.uk-checkbox:disabled {
    background-color: #eaeaea;
}

label.disabled {
    color: $light_grey;
}

// Delete Collection Modal
#coll-del-modal .header {
    color: #666;
}


#sad-coll {
    font-size: 22px;
    color: #333;
}

.cancel-del {
    float: right;
}

p.all-lost {
    border-bottom: 1px solid #afafaf;
    padding-bottom: 5px;
}

.del-f svg {
    position: relative;
    top: -1px;
}
