.shr {
    border-color: #bababa;
    width: 150px;
    margin: 0 auto 5px;
    transition: width 0.3s;
}

.shr.hidden {
    width: 0px;
}

.c-menu {
    display: none;
    overflow-y: hidden;
    margin: 0 auto 9px;

    ul {
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding-left: 20px;
        }

        li:first-child{
            padding-left: 0;
        }
    }
}

.covers-grid {
    padding-top: 15px;
}

.c-cover {
    margin: 20px 0px 10px;
    background: #393939;
    border-radius: 3px;
    position: relative;
}

.game-name, .c-game-name {
    @include unselectable;
    margin-top: 15px;
    margin-bottom: 0px;
    max-width: 200px;
    font-weight: 500;
    position: relative;
}

.name {
    color: $dark_grey;
    opacity: 1;
    transition: color 0.2s ease-in-out;
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: $light_grey;
    padding: 6px;
    margin-left: -16px;
    margin-top: -16px;
    opacity: 0;
    box-shadow: -1px 2px 8px -1px #0000004a;
    transition: opacity 0.2s ease-in-out, color 0.2s ease-in-out;

    svg {
        color: #fff;
    }
}

.plus:hover {
    color: unset;
    background: $dark_accent;
}

.plus.disabled {
    z-index: -1;
}

.fade {
    @include unselectable;

    transition: color 0.2s ease-in-out;
}

.game-warning {
    margin: 5px 0px;

    button {
        background: none;
        border: 2px solid #bababa;
        border-radius: 3px;
        color: #969696;
        font-size: 13px;
        transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

    &:focus {
        outline: none; }
    }
}

.game-name:hover .name {
    color: $disabled;
}

.game-name:hover ~ .fade {
    color: $disabled;

    button {
        border-color: #c7c7c7;
        color: $disabled;
    }
}

.game-name:hover .plus {
    opacity: 1;
}

.game-name.disabled:hover .plus {
    opacity: 0;
}

.game-name.disabled .name {
    color: $disabled;
}

.game-name.disabled ~ .fade {
    p {
        color: $disabled;
    }

    button {
        border-color: #c7c7c7;
        color: $disabled;
    }
}

.bw {
    filter: grayscale(1);
    opacity: 0.6;
}

.cv-opts {
    border: thin solid #bababa;
}

.a-spin {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 960px) {
    .a-spin {
        height: 129.38px;
    }
}

@media (min-width: 960px) {
    .a-spin {
        height: 151.88px;
    }
}

.a-spin svg {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    fill: $light_grey;
    animation: 1s infinite normal rotate;
    animation-timing-function: linear;
}

.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}

.cover-view {
    margin-bottom: 0px;
}

.owned {
    box-shadow: 0px 3px 0px -1px #00000028;
    padding-bottom: 2px;
}

.game-space {
    padding-bottom: 30px !important;
}

.game-release-date {
    margin: 0px 0px 5px;
    font-size: 14px;
    font-style: italic;
}

.game-platform {
    margin: 0px;
    font-size: 12px;
    font-style: italic;
    max-width: 200px;
}

.game-cover {
    border-radius: 3px;
    position: relative;
}

.game-cover-effect {
    display: block;
    position: relative;
    transition-duration: 0.3s;
    background: #bababa;
    border-radius: 3px;
    box-shadow: -2px 4px 9px 1px #0000004a;
    cursor: pointer;

    img {
        height: inherit;
    }
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.spinner svg {
    fill: $light_grey;
    animation: 1s infinite normal rotate;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.game-cover-effect:hover {
    transform: rotate(10deg);
}

.game-cover-effect::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 90px;
    border-radius: 3px;
    top: 0;
    left: 0;
    background: linear-gradient(to left top, rgba(75, 235, 236, 0) 50%, rgba(255, 255, 255, 0.15) 80%, rgba(255, 255, 255, 0.28) 100%);
}

.no-cover {
    width: $no_cover_width;
    height: $no_cover_height;
    overflow: hidden;

    div {
        height: 188px;
        width: 100%;
    }

    span {
        color: #6660;
        background: #4e4e4e;
        font-weight: bold;
        padding: 20px 10px 10px 10px;
        text-shadow: 1px 1px 2px #d4d2d282;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
    }
}

div.fitted {
    height: auto;
}

// Already In - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - //

.already-in {
    color: #999;

    .title {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #666;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;
    }

    ul {
        padding-left: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        list-style-type: none;

        li {
            height: 20px;
            font-style: italic;
            font-size: 12px;
        }
    }

    a {
        position: relative;
        top: -2px;
        float: right;
    }
}
