.p-addl {
    background: #c5c5c5;
    padding: 3px 10px;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    color: #555;
    font-style: italic;
    border-radius: 3px 3px 0px 0px;
    text-align: right;
}

.p-addl-spacer {
    height: 18px;
    width: 100px;
}

.g-right-add {
    padding: 10px 12px;
    width: 20px;

    a {
        color: #999;

        &:hover {
            color: #666;
        }
    }
}

.g-platforms {
    font-size: 12px;
    color: #666;
    margin: 9px 0 0;
    line-height: 15px;
}

.container {
    color: $light_grey;
    cursor: pointer;
    vertical-align: middle;
    padding-left: 26px;
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container:hover {
    color: $dark_grey;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #bababa;
    border-radius: 50%;
    background: none;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 50%;
    top: 50%;
    margin: -3px 0 0 -3px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $light_grey;
}

.srch-div.first {
    margin-left: 0px;
}

.srch-div {
    display: inline-block;
    vertical-align: middle;
    border-right: thin solid #bababa;
    width: 0px;
    height: 14px;
    margin: 0px 20px;
}

.sort-links {
    margin-bottom: 40px;
    text-align: center;
}

.sort-icon {
    margin-right: 8px;
}

.sort_link {
    position: relative;
    font-size: 14px;
    color: $light_grey;

    span {
        position: absolute;
        right: -17px;
        top: 50%;
        margin-top: -10px;
    }
}

.sort_link:hover {
    color: $dark_grey;
    text-decoration: none;
}

.my-search {
    margin: 20px 0px 10px 0px;
    text-align: center;
    font-size: 14px;
}

.s-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $light_grey;
}

.search-input {
    padding-left: 30px;
    background: none;
    border: none;
    color: $light_grey;
}

.search-input:focus {
    background: none;
}

.select-input + span {
    color: $light_grey;
}

.select-input:hover ~ span {
    color: $dark_grey;
}

.radios {
    line-height: 40px;
}

#game_search {
    position: relative;
}

#search-reset {
    display: none;
    line-height: 40px;
    position: absolute;
    border-left: 1px solid #bababa;
    padding-left: 20px;
}

.page-info-front {
    margin: 15px auto;
}

.page-info {
    margin: auto;
    color: $light_grey;
    font-size: 14px;
    font-style: italic;
}

.page-links {
    text-align: center;
    font-size: 14px;
    color: $light_grey;

    em {
        color: $dark_grey;
        font-style: normal;
        background: #ccc;
        font-size: 17px;
        padding: 5px;
        border-radius: 3px;
    }

    span {
        color: #bfbfbf;
        padding: 5px;
    }

    a {
        color: $light_grey;
        padding: 5px;
    }

    a:hover {
        text-decoration: none;
        background: #ccc;
        border-radius: 3px;
        color: $dark_grey;
    }
}

.previous_page {
    float: left;
}

.next_page {
    float: right;
}

.page-links.cover-mod {
    .previous_page, .next_page {
        float: none;
    }
}

.page-links.cover-mod-top {
    margin-bottom: 30px;
}

.page-links.cover-mod-bottom {
    margin-top: 0px;
}

.page-links.bottom {
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
}

span.gap {
    border: none;
}

.copy-form, .edit-form, .add-form {
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    text-align: left;
    background: #d2d2d2;
    box-shadow: -3px 4px 3px -2px rgba(0, 0, 0, 0.16);
    min-width: 270px;
}

.white-form {
    background: #f9f9f9f2;
}

hr.md {
    border-top: 2px solid #bababa;
    margin: 0 0 20px 0;
}

[class*='uk-dropdown-right'] {
    margin-left: 15px;
}

.cf-collection-green {
    rect, polygon, line {
        stroke-width: 2.5px;
        stroke: $dark_accent;
    }
}

.g-spin {
    position: absolute;
    width: 40px;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -20px;
}

.g-spin svg {
    fill: $dark_grey;
    animation: 1s infinite normal rotate;
    animation-timing-function: linear;
}

.cf-collection-icon + span, .cf-collection-green + span {
    position: relative;
    left: 5px;
}

.action {
    margin-bottom: 10px;
    font-size: 16px;
}

.uk-icon-link.cf-disabled {
    color: #afafaf;
    cursor: initial;
}

.uk-icon-link.cf-disabled:hover {
    color: #afafaf;
}

.cf-name {
    padding-left: 10px;
    float: right;
}

.c-m {
    cursor: pointer;
    color: $light_grey;
    font-size: 14px;

    input {
        display: none;
    }
}

.chosen {
    font-size: 16px;
    color: $dark_grey;
    box-shadow: 0px 4px 0 0px #49ab8a;
    padding-bottom: 13px;
}

.cf-add-button {
    background: none;
    font-size: 14px;
    color: #999;
    border: 2px solid #bababa;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.more-button {
    background: none;
    font-size: 14px;
    color: $light_grey;
    border: none;
    border-top: 1px solid #bababa;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    transition: color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        color: $dark_grey;
    }

    &:focus {
        outline: none;
    }
}

.cf-add-button:hover {
    color: #666;
    border: 2px solid #49ab8a;
}

.cf-add-button:focus {
    outline: none;
}

.cf-platform-green svg {
    fill: #49ab8a;
}

.cf-platform-icon svg {
    fill: $light_grey;
}

.cf-platform-icon + span, .cf-platform-green + span {
    position: relative;
    left: 5px;
}

.cf-physical, .cf-digital {
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
}

.cf-physical + svg, .cf-digital + svg {
    cursor: pointer;
    margin-right: 7px;
}

.cf-physical + svg path {
    fill: $light_grey;
}

.cf-digital + svg {
    fill: $light_grey;
}

.cf-physical:checked + svg path {
    fill: $dark_accent;
}

.cf-digital:checked + svg {
    fill: $dark_accent;
}

.g-panel {
    background: #d2d2d2;
    box-shadow: -3px 4px 3px -2px rgba(0, 0, 0, 0.16);
    margin: 0px auto 15px;
    position: relative;
    border-radius: 5px;
}

.g-menu {
    position: absolute;
    top: 0;
    right: 5px;
    width: 45px;
    height: 100%;
    padding: 0 0 0 5px;
    background: #d2d2d2;
    border-radius: 0px 5px 5px 0px;
    transition: right 0.3s linear;

    a {
        color: $light_grey;
    }
}

.g-menu.out {
    right: -45px;
}

.g-menu-shadow {
    background: none;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    box-shadow: -3px 4px 3px -2px rgba(0, 0, 0, 0.16);
    transition: width 0.3s linear, box-shadow 0.3s linear;
}

.g-menu-shadow.out {
    width: 100%;
}

.g-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    padding-left: 12px;

    li {
        padding-top: 3px;
    }
}

.g-hide {
    position: absolute;
    bottom: 8px;
    right: 12px;
}

.thumb-c {
    position: relative;
    width: 70px;
    height: 70px;
    background: #bdbdbd;
    margin: 10px 0px 10px 10px;
}

.game-thumb {
    border-radius: 3px;
}

.no-thumb {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 10px 0px 10px 10px;
    border-radius: 3px;
    background: #dddddd;
    box-shadow: inset -3px 4px 3px -2px rgba(0, 0, 0, 0.16);
}

.no-thumb svg path {
    fill: #c5c5c5 !important;
}

.no-thumb svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -23px;
    margin-top: -23px;
    width: 46px;
    height: 46px;
}

.shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 3px 0px #000000a3;
    border-radius: 3px;
    top: 0;
    left: 0;
}

.g-info {
    position: relative;
    text-align: left;
}

.g-info.s-mod {
    padding: 10px 0px 10px 10px;
}

.hold-title {
    padding: 10px;
}

.g-title {
    margin: 0px;

    .gw-b {
        font-size: 14px;
        color: #777777;
    }
}

.g-year {
    font-style: italic;
    font-size: 14px;
    color: $dark_grey;
}

.g-by {
    margin: 0px;
}

.g-added {
    margin: 0px;
    line-height: 21px;
    font-size: 12px;
}

.g-nav ul {
    padding-left: 30px;
}

.g-right {
    font-size: 13px;
    font-style: italic;
    text-align: right;
    padding: 10px 15px 10px 0px;
    background: #d2d2d2;
    border-right: thin solid #d2d2d2;
    border-radius: 0px 5px 5px 0px;
    z-index: 1;
    transition: border-radius 0.3s linear, border 0.3s linear;
    font-weight: 300;

    p {
        margin: 0;
    }
}

.g-right.out {
    border-right: thin solid #a7a7a7;
    border-radius: 0px;
}

.g-drop {
    display: none;
    padding-bottom: 20px;
}

.g-click {
    width: calc(100% + 80px);
    height: 100%;
    position: absolute;
    top: 0;
    left: -80px;
    z-index: 2;
    cursor: pointer;
}

.g-extra {
    margin: 0px 90px 0px 90px;
    padding-top: 8px;
    border-top: 2px solid #b6b6b6;
}

.full-scrn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
}

.g-summary {
    font-size: 14px;
    color: #333333;
    text-align: justify;
    margin: 0px;
    line-height: 27px;
}

.g-links {
    margin-top: 15px;
    text-align: right;
}

.g-summary::first-letter {
    font-size: 20px;
    line-height: 27px;
}

.uk-position-small {
    margin: 15px 0px;
}

.pd-slide {
    width: 270px;
    height: 151.88px;
    background: #bdbdbd;
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}

.pd-slide-items {
    border-radius: 3px;
}

.pd-arr {
    opacity: 0;
    position: absolute;
    bottom: 0;
    margin: 0px;
    padding: 6px 10px;
    background: #666;
    color: #ffffffa3;
    z-index: 200;
    transition: opacity 0.2s ease-in-out;
}

.pd-arr.right {
    border-radius: 3px 0px 3px 0px;
    right: 0;
}

.pd-arr.left {
    border-radius: 0px 3px 0px 3px;
    left: 0;
}

.pd-arr svg {
    height: 20px;
    width: auto;
}

.pd-arr:focus {
    color: #ffffffa3;
}

.pd-arr:hover {
    color: white !important;
}

.pd-slide:hover .pd-arr, .uk-slider:hover .pd-arr {
    opacity: 1;
}

.g-google, .g-google:active, .g-google:focus {
    @extend .google;

    background: #c7c7c7;
    color: #8e8e8e;
}

.g-google:hover {
    background: #b9b9b9;
    color: #5f5f5f;
}

.g-google + a {
    margin-right: 0px !important;
}

.g-metacritic, .g-metacritic:active, .g-metacritic:focus {
    background: #8e8e8e;
    border: 3px solid #bdbdbd;
    transition-property: color, background-color, border-color;

    svg {
        max-width: 92%;
        fill: #c7c7c7;
    }
}

.g-metacritic:hover {
    background: #5f5f5f;
    border-color: #a5a5a5;

    svg {
        max-width: 92%;
        fill: #d2d2d2;
    }
}

.pd-slide-items {
    height: 100%;
}

ul.pd-slide-items li img {
    height: unset !important;
}
