#f-modal p.header.set span {
    padding-left: 4px;
}

table.set-platform {
    border-spacing: 0px 0px;
    margin: 5px;
    font-size: 14px;

    td {
        border: thin solid #afafaf;
        border-right: none;
        background: #e3e3e3;
    }

    td.btn {
        transition: background-color 0.1s ease-in-out;
    }

    td.btn:hover {
        background-color: #d4d4d4;
        cursor: pointer;
        a {
            color: #333;
        }
    }

    td a {
        color: #666;
        display: block;
        padding: 0px 5px;
        transition: color 0.1s ease-in-out;
    }

    td a:hover {
        text-decoration: none;
        color: #333;
    }

    td:first-child {
        border-radius: 3px 0px 0px 3px;
        background: none;
        padding: 0px 5px;
    }

    td:last-child {
        border-radius: 0px 3px 3px 0px;
        border-right: thin solid #afafaf;
    }
}

a.del-user-btn {
    margin: auto;
    margin-bottom: 10px;
    width: 230px;
    display: block;
    padding: 0px;

    span {
        position: relative;
        left: -7px;
    }

    span:last-child {
        left: 7px;
    }
}

g#icon-61-warning {
    transition: 0.1s ease-in-out;
}

.del-user-btn:hover span #icon-61-warning {
    fill: #666;
}

.range-holder {
    font-size: 14px;
    margin: auto;
    text-align: center;
}

.rng-lab {
    color: #777;
    position: relative;
    top: 6px;
}

.rng-mima {
    color: #777;
    position: relative;
    top: -2px;
}

#gpv-counter {
    font-size: 15px;
    border: thin solid #afafaf;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0px 5px;
    text-align: center;
    border-radius: 3px;
    margin: 0px auto;
    &.disabled {
        color: #afafaf;
        border-color: #ccc;
    }
}

#user_games_per_view {
    width: 200px;
}

.sh-button.rng-button {
    font-size: 14px;
    padding: 0px;
    line-height: initial;
    padding: 5px 10px;
}

.rng-button.disabled {
    color: #afafaf;
    border-color: #ccc;
    cursor: auto;
    pointer-events: none;
}

.set-input-icon {
    position: absolute;
    left: 5px;
    top: 4px;
    color: #999;
}

.set-input-icon svg g g {
    transition: 0.2s ease-in-out;
}

table.set-email-pass {
    border-spacing: 0px 0px;
    margin: 5px;
    font-size: 14px;

    input {
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
    }

    td {
        border: thin solid #afafaf;
        border-right: none;
        background: #e3e3e3;
        padding: 0px;
    }

    .btn {
        transition: background-color 0.1s ease-in-out;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #d4d4d4;
        input {
            color: #333;
        }
    }

    .btn.disabled {
        background-color: #ececec;
        cursor: auto;

        input {
            color: #afafaf;
            cursor: auto;
            pointer-events: none;
        }

        &:hover input {
            color: #afafaf;
        }
    }

    .set-confirm {
        color: #666;
        font-size: 14px;
        display: block;
        padding: 0px 5px;
        transition: color 0.1s ease-in-out;
        cursor: pointer;
        padding: 11px 20px;
    }

    .set-confirm:hover {
        text-decoration: none;
        color: #333;
    }

    td:first-child {
        border-radius: 5px 0px 0px 5px;
        background: none;
    }

    td:last-child {
        border-radius: 0px 5px 5px 0px;
        border-right: thin solid #afafaf;
    }

    ~ #password-min {
        padding-left: 10px;
    }
}

.set-input {
    width: 300px;
    padding-left: 42px;
    border-radius: 4px 0px 0px 4px;
}

.set-input:focus {
    background-color: #ddd;
    color: #666;
    ~ span svg g g {
        fill: #666;
    }
}

#change-password {
    padding-right: 44px;
}

#enter-password {
    padding-left: 42px;
}

.set-warning {
    top: 5px;
    left: 5px;
}

.update-info {
    display: none;
    margin-top: 9px;
    font-size: 15px;
    color: #666;
    font-style: italic;
    padding: 5px 15px 5px 10px;
    border-radius: 5px;
    background: #dedede;
    border: thin dashed #afafaf;
}

.export-btns {
    padding-left: 5px;
}

.export-btns .lp-button svg {
    margin-top: -2px;
}

// Collections order

.cord-grid {
    margin-bottom: 20px;
}

.cord-space {
    position: relative;
    height: 500px;
    margin-left: 5px;
}

.cord-ship{
    position: absolute;
    top: 0;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 10px;
    box-sizing: border-box;
    height: 30px;
    font-size: 14px;
    transition: top 0.2s ease-in-out;
    text-align: right;
    width: 100%;

    span {
        float: left;
        text-align: left;
    }
}

a.cord-btn {
    border-radius: 3px;
    transition: 0.1s ease-in-out;

    &.cord-up {
        margin-right: 3px;
    }
}

.cord-update {
    border-left: 1px solid #afafaf;
    margin-left: 30px;
}

#submit-cord {
    border-left: none;
    position: absolute;
    border-radius: 0px 5px 5px 0px;
    width: 75px;
    transition: 0.2s ease-in-out;

    &.done {
        pointer-events: none;
    }
}

.fake-ship {
    font-size: 14px;
    margin-right: 70px;
    visibility: hidden;
}



