#f-modal p.header.set span {
    padding-left: 4px;
}

table.set-platform {
    border-spacing: 0px 0px;
    margin: 5px;
    font-size: 14px;

    td {
        border: thin solid #afafaf;
        border-right: none;
        background: #e3e3e3;
    }

    td.btn {
        transition: background-color 0.1s ease-in-out;
    }

    td.btn:hover {
        background-color: #d4d4d4;
        cursor: pointer;
        a {
            color: #333;
        }
    }

    td a {
        color: #666;
        display: block;
        padding: 0px 5px;
        transition: color 0.1s ease-in-out;
    }

    td a:hover {
        text-decoration: none;
        color: #333;
    }

    td:first-child {
        border-radius: 3px 0px 0px 3px;
        background: none;
        padding: 0px 5px;
    }

    td:last-child {
        border-radius: 0px 3px 3px 0px;
        border-right: thin solid #afafaf;
    }
}

a.del-user-btn {
    margin: auto;
    margin-bottom: 10px;
    width: 230px;
    display: block;
    padding: 0px;

    span {
        position: relative;
        left: -7px;
    }

    span:last-child {
        left: 7px;
    }
}

.range-holder {
    font-size: 14px;
    margin: auto;
    text-align: center;
}

.rng-lab {
    color: #777;
    position: relative;
    top: 6px;
}

.rng-mima {
    color: #777;
    position: relative;
    top: -2px;
}

#gpv-counter {
    font-size: 15px;
    border: thin solid #afafaf;
    width: fit-content;
    padding: 0px 5px;
    text-align: center;
    border-radius: 3px;
    margin: 0px auto;
    &.disabled {
        color: #afafaf;
        border-color: #ccc;
    }
}

#user_games_per_view {
    width: 200px;
}

.sh-button.rng-button {
    font-size: 14px;
    padding: 0px;
    line-height: initial;
    padding: 5px 10px;
}

.rng-button.disabled {
    color: #afafaf;
    border-color: #ccc;
    cursor: auto;
    pointer-events: none;
}

.set-input-icon {
    position: absolute;
    left: 5px;
    top: 4px;
    color: #999;
}

table.set-email-pass {
    border-spacing: 0px 0px;
    margin: 5px;
    font-size: 14px;

    input {
        background: none;
        border: none;
        &:focus {
            outline: none;
        }
    }

    .set-input {
        width: 300px;
        padding-left: 42px;
        border-radius: 4px 0px 0px 4px;
    }

    .set-input:focus {
        background-color: #ddd;
        color: #666;
        ~ span svg g g {
            fill: #666;
        }
    }

    td {
        border: thin solid #afafaf;
        border-right: none;
        background: #e3e3e3;
        padding: 0px;
    }

    .btn {
        transition: background-color 0.1s ease-in-out;
        cursor: pointer;
        padding: 0px 10px;
    }

    .btn:hover {
        background-color: #d4d4d4;
        input {
            color: #333;
        }
    }

    .btn.disabled {
        background-color: #ececec;
        cursor: auto;

        input {
            color: #afafaf;
            cursor: auto;
            pointer-events: none;
        }

        &:hover input {
            color: #afafaf;
        }
    }

    .set-confirm {
        color: #666;
        font-size: 14px;
        display: block;
        padding: 0px 5px;
        transition: color 0.1s ease-in-out;
        cursor: pointer;
    }

    .set-confirm:hover {
        text-decoration: none;
        color: #333;
    }

    td:first-child {
        border-radius: 5px 0px 0px 5px;
        background: none;
    }

    td:last-child {
        border-radius: 0px 5px 5px 0px;
        border-right: thin solid #afafaf;
    }

    ~ #password-min {
        padding-left: 10px;
    }
}

#change-password {
    padding-right: 44px;
}

#enter-password {
    padding-left: 42px;
}

.set-warning {
    top: 5px;
    left: 5px;
}

.update-info {
    display: none;
    margin-top: 15px;
    font-size: 15px;
    color: #666;
    font-style: italic;
}
