.sh_form, .sh_edit_form {
    margin: 10px 0px 0px;
}

#share-form {
    position: relative;
}

#f-modal p.header span {
    color: #999;
    vertical-align: text-bottom;
}

p.discription {
    font-size: 14px;
    margin-top: 10px;
}

.part {
    margin: 10px 0px;

    span {
        font-size: 16px;
    }
}

.sh-coll-select {
    font-size: 14px;
    margin-bottom: 0px;
}

.sh-form-check-label {
    padding-bottom: 6px;

    &:last-child {
        padding-bottom: 0px;
    }
}

#share_message {
    height: 80px;
}

.share-input {
    background: none;
    border: thin solid #afafaf;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 36px;
}

.share-input:focus {
    outline: none;
    background-color: #ddd;
    color: #666;
    border-color: #999;
}

.share-input:focus ~ span {
    color: #666;
}

.sh-label-info, .sh-none-all {
    font-size: 12px;
    padding-left: 5px;
    color: #999;
    padding-top: 5px;
}

.sh-none-all {
    text-align: right;

    a {
        padding-right: 5px;
        color: #999;
    }
}

.sh-form-buttons {
    margin-top: 10px;
    margin-bottom: 0px;
}

.sh-small-button {
    border: none;
    background: none;
    font-size: 14px;
    color: #999;
    padding: 0px;
    padding-left: 5px;
    position: relative;
    top: 10px;

    &:hover {
        color: #666;
        text-decoration: underline;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.sh-input-icon {
    position: absolute;
    left: 8px;
    top: 11px;
    color: #999;
    transition: 0.2s ease-in-out;
}

.sh-check-container {
    border: thin solid #afafaf;
    border-radius: 5px;
    padding: 0px 10px 10px 10px;
    min-height: 141px;
}

.sh-check-title {
    font-size: 14px;
    color: #999;
    line-height: 40px;
    padding-left: 26px;
}

.sh-button {
    background-color: transparent;
    color: #666;
    border: thin solid #afafaf;
    border-radius: 5px;

    &:hover {
        color: #333;
        border-color: #999;
        background-color: #ddd;
    }
}

.sh-warning {
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
    top: 5px;
    left: 3px;
}

.sh-warning-check {
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
    left: 3px;
}

span.no-sh {
    color: #999;
    font-size: 14px;
    font-style: italic;
}

div.share {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0px;
    }
}

input.share-link {
    font-size: 14px;
    background: none;
    width: 100%;
    border: none;
    color: #666;
    padding-left: 26px;
}

.world-icon {
    color: #666;
}

table.share-toolbar {
    margin-bottom: 10px;
    border-spacing: 0px 0px;
    width: 100%;

    td {
        border: thin solid #afafaf;
        border-right: none;
        background: #e3e3e3;
    }

    td.link {
        padding: 10px;
        overflow: hidden;
    }

    td.btn {
        transition: background-color 0.1s ease-in-out;
    }

    td.btn:hover {
        background-color: #d4d4d4;
        cursor: pointer;
    }

    td.btn.disabled {
        background-color: #d4d4d4;
        pointer-events: none;
        cursor: default;

        a {
            pointer-events: none;
            cursor: default;
            color: #999;
        }
    }

    td a {
        color: #666;
        display: block;
        padding: 10px;
        transition: color 0.1s ease-in-out;
    }

    td a:hover {
        text-decoration: none;
        color: #333;
    }

    td:first-child {
        border-radius: 5px 0px 0px 5px;
    }

    td:last-child {
        border-radius: 0px 5px 5px 0px;
        border-right: thin solid #afafaf;
    }
}

div.share-info {
    font-size: 14px;
    color: #666;
    border: thin solid #afafaf;
    border-radius: 5px;
}

.sh-done {
    padding: 10px 10px 0px 36px;
    margin: 0px;
}

.sh-shared-box {
    position: relative;
    padding: 10px;
    border-left: thin solid #afafaf;
    height: 100%;
}

.share-info .uk-grid > div:last-child {
    overflow: hidden;
}

.sh-box-title {
    @extend .sh-check-title;

    line-height: unset;
}

.sh-coll-shared {
    margin: 0px;
    padding-top: 10px;

    span {
        font-style: italic;

        &:after {
            content: ', ';
        }
    }

    span:last-child:after {
        content: '';
    }
}

table.sh-time-info {
    margin-top: 15px;
    padding-left: 5px;
    font-size: 12px;
    line-height: 16px;
}

.cp-share-link {
    width: 34px;
}

.cp-share-link.copied {
    color: $dark_accent;

    &:hover {
        color: $dark_accent;
    }
}

#message-modal .uk-modal-body {
    background: #ececec;
    border-radius: 5px;

    p {
        font-size: 16px;
        font-style: italic;
        margin-top: 10px;
        margin-bottom: 0px;
        font-weight: 300;
        text-align: justify;
        position: relative;
        padding-left: 26px;

        span {
            position: absolute;
            top: 4px;
            left: 0px;
        }
    }
}
