// Logo
.logo {
    color: #888;
    border-color: #555;

    input {
        background: #2d2d2d;
    }
}

// Navigation
.nav-icon {
    color: #888;

    &:hover {
        color: #ccc;
    }
}

// Footer
footer ul a {
    color: #888;

    &:hover {
        color: #ccc;
    }
}

// Menu
li.active .m-coll {
    color: #bbb;
    border-color: #6466c3;
}

.m-coll {
    color: #888;
    border-color: #6466c3;

    &:hover {
        color: #bbb;
    }
}

li.active .m-add {
    border-color: #6466c3;
}

.m-add {
    color: #888;
    border-color: #6466c3;

    &:hover svg {
        color: #bbb;
    }
}

#m-add-coll.active svg {
    color: #bbb;
}

li.active .m-add svg {
    color: #bbb;
}

.opts a {
    color: #888;

    &:hover {
        color: #ccc;
    }
}

// Toolbar
#toolbar {
    a {
        color: #888;
    }

    a:hover {
        color: #ccc;
    }

    hr {
        border-color: #666;
    }

    a.active {
        background: #444;
    }
}

// Search (My Games)
.s-icon {
    color: #888;
}

.search-input {
    color: #888;

    &:focus {
        color: #ccc;
    }

    &::placeholder {
        color: #888;
    }
}

.srch-div {
    border-color: #666;
}

#search-reset {
    border-color: #666;
    color: #888;

    &:hover {
        color: #ccc;
    }
}

.select-input + span {
    color: #888;
}

.select-input:hover ~ span {
    color: #ccc;
}

.container {
    color: #888;

    &:hover {
        color: #ccc;
    }
}

.container:hover input ~ .checkmark {
    background-color: #3e3e3e;
}

.container .checkmark:after {
    background: #888;
}

.checkmark {
    border-color: #666;
}

.sort-icon svg path {
    stroke: #888;
}

.sort_link {
    color: #888;

    &:hover {
        color: #ccc;
    }
}

// Covers (Search IGDB)
.name.owned {
    box-shadow: 0px 2px 0px 0px #555;
}

.plus {
    background: #666;

    &:hover {
        background: #6466c3;
    }
}

.spinner svg {
    fill: #777;
}

.game-warning button {
    color: #888;
    border-color: #777;
}

.game-cover-effect::after {
    background: linear-gradient(to left top, rgba(75, 235, 236, 0) 50%, rgba(255, 255, 255, 0.07) 80%, rgba(255, 255, 255, 0.14) 100%);
}

// Covers (My Games)
.name {
    color: #ccc;
}

.game-cover-effect {
    background-color: #3c3c3c;
}

.shr {
    border-color: #666;
}

.uk-iconnav > * > a {
    color: #888;

    &:hover {
        color: #ccc;
    }

    &:focus {
        color: #ccc;
    }
}

// List (My Games)

.t-game {
    color: #aaa;

    div {
        background: #444;
    }
}

div.menu-shadow {
    background: none;
}

div.t-name {
    color: #ccc;
}

.uk-icon-link {
    color: #888;
}

.uk-icon-link:hover, .uk-icon-link:focus {
    color: #ccc;
}

.t-game.hover-fill div.t, .t-game.focus-fill div.t {
    background-color: #333;
}

// List (Search)

.s-table {
    color: #aaa;

    td {
        background: #444;
    }

    tr:hover td {
        background-color: #333;
    }
}

.s-name {
    color: #ccc;
}

.s-add a {
    color: #888;

    &:hover {
        color: #ccc;
    }
}

.s-table tr.focus-fill td {
    background: #333;
}

// Panels (My Games)

.g-panel, .g-menu, .g-right, .thumb-c {
    background: #444;
}

.g-menu a {
    color: #888;
}

.uk-icon-link.cf-disabled {
    color: #666;
}

.g-right {
    border-color: #444;

    &.out {
        border-color: #666;
    }
}

.no-thumb {
    background-color: #2d2d2d;
}

.no-thumb svg path {
    fill: #444 !important;
}

.g-title, .g-summary {
    color: #ccc;
}

.g-year, .g-by, .g-platforms {
    color: #999;
}

.g-extra {
    border-color: #666;
}

.g-google, .g-google:active, .g-google:focus {
    background: #666;
    color: #aaa;
}

.g-google:hover {
    background: #5e5e5e;
    color: #d2d2d2;
}

.g-metacritic, .g-metacritic:active, .g-metacritic:focus {
    background: #626262;
    border-color: #888;
    transition-property: color, background-color, border-color;
}

.g-metacritic svg, .g-metacritic:active svg, .g-metacritic:focus svg {
    fill: #aaa;
    transition: 0.1s ease-in-out;
}

.ms-b-down {
    color: #777;

    &:hover {
        color: #aaa;
    }
}

.pd-slide {
    background: #3a3a3a;
}

// Panels (Search)

.g-right-add a {
    color: #888;

    &:hover {
        color: #ccc;
    }
}

// No Games, No Results (My Games)
#no-games, #no-results {
    color: #666;

    p {
        color: #777;
        border-color: #777;
    }
}

// Pagination

.page-links {
    span {
        color: #666;
    }

    a {
        color: #888;

        &:hover {
            background: #444;
            color: #ccc;
        }
    }

    em {
        color: #bbb;
        background: #444;
    }
}

// No Results (Search IGDB)
//
#no-games a:hover, #no-results a:hover {
    color: #999;
}

// Notifications

.uk-notification-message {
    background-color: #3e3e3ee0;
    color: #aaa;

    .g {
        color: #787bec;
    }

    .b {
        color: #f0506e;
    }

    .c {
        color: #aaa;

        &:hover {
            color: #ccc;
        }
    }
}

// No Cover
.no-cover span {
    color: #888;
    text-shadow: -2px 3px 2px #00000080;
}

.no-cover svg {
    -webkit-filter: drop-shadow((-1px) 2px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow((-1px) 2px 2px rgba(0, 0, 0, 0.5));

    path {
        filter: none;
        fill: #888 !important;
    }
}

// Other
html {
    background-color: #2d2d2d;
    color: #888;
}

::selection {
    background-color: #a4a6f2;
}

.uk-tooltip {
    background: #444;
    color: #eee;
}

.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
    background-color: #6466c3;
    border-color: transparent;
}

.uk-radio:checked:focus, .uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus {
    border-color: transparent;
    background-color: #6466c3;
}

.uk-radio, .uk-checkbox {
    border: 1px solid #888;
}

.uk-radio:focus, .uk-checkbox:focus {
    border-color: #888;
}

.uk-checkbox:disabled:checked {
    border-color: transparent;
    background-color: #333;
}

.uk-checkbox:disabled {
    background-color: transparent;
    border-color: #777;
}

.mp + svg {
    fill: #666;

    &:hover {
        fill: #999;
    }
}

.more-button {
    color: #888;
    border-color: #666666;

    &:hover {
        color: #aaa;
    }
}

// Scroll up

#scroll-up {
    color: #888;
    border-color: #666;

    &:hover {
        background: #444;
        color: #ccc;
    }
}

// Search history

#search-history {
    border-color: #555;

    .extr {
        border-color: #555;
    }

    .title {
        color: #888;
    }

    .record {
        .input {
            color: #999;
        }
    }

    .record:hover {
        background-color: #3c3c3c;
        color: #999;

        .input {
            color: #bbb;
        }
    }
}

.clock {
    color: #777;
}

// Search bar

.search-bar {
    background-color: #3e3e3e;
    color: #bbb;

    &::placeholder {
        color: #999;
    }
}

.info-icon {
    color: #999;

    &:hover {
        color: #ccc;
    }
}

.search-icon {
    color: #999;
}

.search-dropdown {
    background-color: #3e3e3ef0;
    color: #aaa;
}

.strike > span:after {
    background-color: #666;
}

.nav {
    border-color: #666;
}

.search-tip, .search-tip a {
    color: #999;
}

.search-button, .reset-button {
    color: #999;

    &:hover {
        color: #bbb;
    }
}

.none-all a {
    color: #888;

    &:hover {
        color: #aaa;
    }
}

.nav a.active {
    color: #999;
}

.nav a {
    color: #6f6f6f;
}

.record:hover {
    background: #0000002e;
    color: #ccc;
}

// Additional info

.c-addl {
    background-color: #444;
    color: #bbb;
}

tr.l-addl {
    color: #aaa;
}

.p-addl {
    background-color: #2d2d2d;
    color: #bbb;
}

// Search wait

div#search-results.mask1:after {
    background-color: #2d2d2dad;
}

div#search-results.mask2:after {
    background-color: #2d2d2de6;
}

#search-wait p {
    color: #a1a1a1;
}

.rotor svg, .csv_spin svg {
    fill: #aaa;
}

// Shared

#no-games .home-link:hover {
    color: #ccc;
}

.shared-logo {
    p:first-child {
        border-color: #555;
    }

    p.shared {
        color: #8d8d8d;
    }
}

.shared-logo.with-title {
    .title {
        color: #8d8d8d;
    }

    div:last-child {
        box-shadow: -7px 0px 0 -5px #555;
    }

    .message:hover {
        color: #ccc;
    }
}

// List info

#t-game-show {
    .uk-modal-body {
        background: #444;
    }

    .g-google, .g-google:active, .g-google:focus {
        background: #666;
        color: #aaa;
    }

    .g-google:hover {
        background: #5e5e5e;
        color: #d2d2d2;
    }

    .g-metacritic, .g-metacritic:active, .g-metacritic:focus {
        background: #626262;
        border-color: #888;
        transition-property: color, background-color, border-color;
    }

    .g-metacritic svg, .g-metacritic:active svg, .g-metacritic:focus svg {
        fill: #aaa;
    }

    .g-metacritic:hover svg {
        max-width: 92%;
        fill: #d2d2d2;
    }

    .info-by, .info-platform {
        color: #999;
    }

    .info-title, .info-year {
        color: #ddd;
    }

    .i-no-cover {
        background-color: #3a3a3a;
        color: #777;
        border-color: #777;
    }

    .i-no-cover svg path {
        fill: #777 !important;
    }

    hr {
        border-color: #888;
    }

    .t-cover {
        background-color: #3a3a3a;
    }
}

// Modal Close Button

.uk-close:hover {
    color: #ccc;
}

// Modals and forms

#signin-modal .uk-modal-body, #signup-modal .uk-modal-body, #coll-modal .uk-modal-body, #f-modal .uk-modal-body {
    background-color: #444;
}

#coll-modal .header {
    border-color: #aaa;
    color: #ddd;
}

.add-coll-icon svg {
    stroke: #aaa !important;
}

.sh-button {
    color: #aaa;
    border-color: #888;

    &:hover {
        color: #ddd;
        border-color: #aaa;
        background-color: #555;
    }
}

label.disabled {
    color: #aaa;
}

.share-input {
    border-color: #888;
    color: #ccc;

    &::placeholder {
        color: #888;
    }

    &:focus {
        background-color: #555;
        color: #ccc;
        border-color: #aaa;
    }
}

#password-min {
    color: #999;
}

.coll-require {
    color: #ccc;
}

.small {
    color: #999;
}

.coll-field ~ span path {
    stroke: #999;
}

.coll-field:focus ~ span svg path {
    stroke: #bbb;
}

p.header, #sad-coll {
    color: #ddd;
}

#f-modal {
    color: #ccc;

    .strike > span:after {
        background-color: #aaa;
    }
}

.sh-check-container {
    border-color: #888;
}

.sh-label-info, .sh-none-all a {
    color: #999;
}

.share-input:focus ~ span {
    color: #bbb;
}

.sh-coll-select {
    color: #bbb;
}

div.share-info {
    color: #bbb;
    border-color: #888;
}

.sh-shared-box {
    border-color: #888;
}

table.share-toolbar {
    td {
        border-color: #888;
        background-color: #555;
    }

    td a {
        color: #aaa;

        &:hover {
            color: #ddd;
        }
    }

    td.btn:hover {
        background-color: #666;
    }

    td:last-child {
        border-color: #888;
    }
}

input.share-link, .world-icon {
    color: #bbb;
}

.cp-share-link.copied, .cp-share-link.copied:hover {
    color: #8c8fff;
}

.sh-small-button {
    color: #aaa;

    &:hover {
        color: #ccc;
    }
}

.sh-check-title, .sh-box-title {
    color: #aaa;
}

p.discription {
    color: #bbb;
}

#coll-del-modal {
    .uk-modal-body {
        background-color: #444;
    }

    .header {
        color: #aaa;
    }
}

p.all-lost {
    color: #aaa;
    border-color: #888;
}

.lp-button {
    color: #aaa;
    border-color: #888;

    &:hover {
        color: #ddd;
        border-color: #aaa;
        background-color: #555;
    }
}

#f-modal .uk-modal-body hr {
    border-color: #aaa;
}

.set-input-icon svg g g {
    fill: #999;
}

g#icon-116-lock-open {
    fill: #bbb;
}

.share-input:focus ~ span svg g g {
    fill: #bbb;
}

table.set-platform td {
    color: #bbb;
    border-color: #888;
    background-color: #555;

    &:last-child {
        border-color: #888;
    }

    a {
        color: #bbb;
    }

    &.btn:hover {
        background-color: #666;

        a {
            color: #ddd;
        }
    }
}

.del-user-btn:hover span #icon-61-warning {
    fill: #ccc;
}

.rng-lab, .rng-mima {
    color: #bbb;
}

#gpv-counter {
    color: #bbb;
    border-color: #aaa;
}

.rng-button.disabled, #gpv-counter.disabled {
    color: #777;
    border-color: #666;
}

table.set-email-pass {
    td {
        border-color: #888;
        background-color: #555;
    }

    td:last-child {
        border-color: #888;
    }

    .btn input {
        color: #bbb;
    }

    .btn:hover {
        background-color: #666;

        input {
            color: #ddd;
        }
    }

    .btn.disabled {
        background-color: #444;
    }

    .btn.disabled:hover input {
        color: #777;
    }

    .btn.disabled input {
        color: #777;
    }
}

.set-input {
    color: #ccc;

    &::placeholder {
        color: #888;
    }

    &:focus {
        background-color: #555;
        color: #ccc;

        ~ span svg g g {
            fill: #aaa;
        }
    }
}

.update-info {
    color: #ddd;
    background-color: #666;
}

// Graphs

.coll-name, .ch-graphs {
    color: #ddd;
}

.ch-slct {
    color: #888;
}

#graph_collection:hover ~ .ch-slct, .stats {
    color: #ccc;
}

.stats tr td:last-child, .uk-accordion {
    color: #aaa;
}

.uk-accordion-title::before {
    filter: brightness(1.7);
}

.uk-accordion {
    li.uk-open a.uk-accordion-title {
        color: #ddd;
    }

    a.uk-accordion-title:focus {
        color: #aaa;
    }
}

a.hide-labels {
    color: #bbb;
    background-color: #555;

    &:hover {
        color: #ddd;
        background-color: #666;
    }
}

// Add forms

.copy-form, .edit-form, .add-form {
    background-color: #444;
    color: #bbb;
}

.c-m {
    color: #888;
}

.chosen {
    color: #ddd;
    box-shadow: 0px 4px 0 0px #7274de;
}

.cf-name {
    color: #ddd;
}

hr.md, .wf hr.md {
    border-color: #777;
}

.wf .cf-add-button, .wf .cf-cm-button, .cf-add-button, .cf-cm-button {
    color: #888;
    border-color: #777;

    &:hover {
        color: #bbb;
        border-color: #aaa;
    }
}

.cf-collection-icon svg {
    stroke: #888 !important;
}

.cf-collection-green rect, .cf-collection-green polygon, .cf-collection-green line {
    stroke: #7f82ff;
}

.cf-platform-icon svg {
    fill: #888;
}

.cf-platform-green svg {
    fill: #7f82ff;
}

.cf-physical + svg path {
    fill: #888;
}

.cf-physical:checked + svg path {
    fill: #7f82ff;
}

.cf-digital + svg {
    fill: #888;
}

.cf-digital:checked + svg {
    fill: #7f82ff;
}

#t-ops .uk-modal-body {
    background-color: #444;
    color: #bbb;
}

.copy-form.wf, .add-form.wf, .edit-form.wf {
    background-color: #111111f0;
}

.already-in {
    color: #999;

    .title {
        color: #bbb;
    }
}

.add-form .strike > span:after, .add-form.wf .strike > span:after {
    background-color: #666;
}

.acf-remove svg {
    stroke: #888 !important;
}

.acf-remove:hover svg path {
    stroke: #ccc;
}

// Landing Page

.frame {
    border-color: #4f4f4f;
    box-shadow: -2px -1px 20px #00000042;
    background-color: #222;
}

.fb {
    background-color: #555;
    border-color: #222222;
}

.lp-images {
    border-color: #4f4f4f;
}

.lp-top {
    color: #bbb;
}

.lp-top p, .f-title {
    border-color: #555;
    color: #aaa;
}

.lp-about span {
    background-color: #444;
    color: #bbb;
}

.feat, .f-head, .lp-about {
    color: #aaa;
}

.lp-sample path, .lp-sample rect {
    stroke: #888;
}

.lp-sample:hover path, .lp-sample:hover rect {
    stroke: #bbb;
}

.lp-play path {
    stroke: #999;
}

.lp-play:hover path {
    stroke: #ccc;
}

.login-button:hover span {
    color: #bbb;
}

.lp-overlay {
    background-color: #555555e6;
    box-shadow: 1px 2px 6px 0 #0000003d;
    color: #ccc;
}

.lp-big, .login-button {
    border-color: #777;
    color: #999;

    &:hover {
        border-color: #999;
        color: #ccc;
        background-color: #444;
    }
}

.uk-dotnav > * > * {
    border-color: rgba(222, 222, 222, 0.4);
}

.uk-dotnav > * > :hover, .uk-dotnav > * > :focus {
    background-color: rgba(255, 255, 255, 0.6);
}

.lp-dotnav-position li.uk-active a {
    background-color: rgba(255, 255, 255, 0.4);
}

.uk-slidenav {
    color: rgb(153, 153, 153);
}

.uk-slidenav:hover, .uk-slidenav:focus {
    color: rgba(220, 220, 220, 0.9);
}

// Login and Signup form

.rem-me {
    color: #ccc;
}

.agree, .have-account {
    color: #afafaf;
}

a.uk-link-muted {
    color: #888;

    &:hover {
        color: #ccc;
    }
}

// Last changes
.g-right {
    color: #999;
}

// New things

#change-theme-lp {
    color: #999;

    span svg {
        fill: #888;
    }
}

#change-theme-lp:hover {
    color: #bbb;

    svg {
        fill: #bbb;
    }
}

// Warning

g#icon-61-warning {
    fill: #bbb;
}

.warning-icon, .search-warning-icon {
    background: url("dark_warning.svg");
}

// Shadows

.g-panel, .g-menu-shadow, .copy-form, .edit-form, .add-form {
    box-shadow: -3px 4px 5px -2px rgba(0, 0, 0, 0.26);
}

div.menu-shadow {
    box-shadow: -6px 4px 4px -2px rgba(0, 0, 0, 0.26);
}

.t-game, .s-table tr {
    box-shadow: -3px 4px 4px -2px rgba(0, 0, 0, 0.26);
}

// Input autofill

@-webkit-keyframes autofill {
    to {
        color: #ccc;
        background: transparent;
    }
}

// Terms

.uk-tab > .uk-active > a {
    border-color: #6466c3;
    color: #ccc;
}

.uk-tab > * > a {
    color: #777;
}

.uk-tab::before {
    border-color: #777;
}

#doc_place {
    color: #aaa;

    h1, h2, h3 {
        color: #bbb;
    }

    .main {
        color: #bbb;

        span {
            background: #444;
        }
    }

    h1 {
        border-color: #666;
    }

    h2 {
        border-color: #555;
    }

    h3 {
        box-shadow: 0px 5px #4e4e4e;
    }
}

.back, a#t-scroll {
    color: #777;

    &:hover {
        color: #ccc;
    }
}
