<footer>
  <ul>
    <li><%= link_to "?", root_path, class: "about-link" %></li>
    <li><%= link_to "TERMS", root_path, class: "about-link" %></li>
    <li><%= link_to "PRIVACY", root_path, class: "about-link" %></li>
  </ul>
</footer>
