<div id="logo">STILL HAVE THEM</div>
<% if logged_in? %>
  <%= link_to current_user.email, settings_path, id: 'settings' %>
  <%= link_to svg('off'), logout_path, id: 'logout', method: :delete %>
<% end %>
