<nav class="uk-navbar-container uk-navbar-transparent uk-dark" uk-navbar="mode: click">
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li><%= link_to(root_path) do %>
        > STILL HAVE THEM
        <% end %>
      </li>
    </ul>
  </div>
  <% if logged_in? %>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li><div id="search-add" class="uk-navbar-item nav-but">Add Games</div></li>
      <li><div id="addl-hide" class="uk-navbar-item nav-but">Hide Overlays</div></li>
      <% extra = 'active' if edit_open? %>
      <li><div id="g-show-edit" class="uk-navbar-item nav-but <%= extra %>">Show Options</div></li>
      <li><div id="" class="uk-navbar-item nav-but">Change View</div></li>
      <li><div class="uk-navbar-item nav-but">Dark Theme</div></li>
      <li><%= link_to current_user.email, settings_path %></li>
      <li><%= link_to '', logout_path, method: :delete, 'uk-icon': 'sign-out' %></li>
    </ul>
  </div>
  <% end %>
</nav>
