<%= content_tag :div, class: 'shared-logo' do %>
<p>still have them</p>
<p>SHARED</p>
<% end %>
<%= link_to('', logout_guest_url, id: 'logout', class: 'nav-icon', method: :delete, 'uk-icon': 'sign-out', 'uk-tooltip' => 'title: Leave; pos: left') if guest_logged? %>
