<div id="message-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="modal-content">
          Message from the owner
          <p><%= guest.message %><span uk-icon='comment'></span></p>
        </div>
    </div>
</div>
